@font-face {
    font-family: scary-fonts;
    src: url("fonts/Spooky\ Stories.ttf") format("truetype");
}

html {
    background-color: #cccccc;
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 1px 0;
    width: 700px;
    height: calc(100% - 2px);
    background-color:bisque;
}

h1 {
    text-align: center;
}

h1.home {
    margin-bottom: 50px;
}

h1.h-recipe {
    font-family: scary-fonts;
}

.green-box{
    margin-left: 50px;
    padding: 5px 20px;
    width: 250px;
    border: 3px groove yellowgreen;
}

h2 {
    margin: 0;
}

ul {
    margin: 10px 0;
}

img {
    display: block;
    height: 300px;
    width: auto;
    margin: 0 auto 30px auto;
}

.recipe-content {
    border-top: 2px solid black;
    padding: 15px;
}

#steps {
    margin-bottom: 10px;
    border-bottom: 2px solid black;
}

.return-home {
    display: block;
    text-align: center;
    font-size: 25px;
    color: darkolivegreen;
}